.player_fill{
    width: 0;
    height: 0;
    position: absolute;
    bottom:20px;
    left:50vw;
    border-style: solid;
    border-width: 0 62px 79px 62px;
    border-color:  transparent transparent #3d02d3b7 transparent;
}
.player_shooted{
    width: 0;
    height: 0;
    position: absolute;
    bottom:10px;
    left:50vw;
    border-style: solid;
    border-width: 0 62px 79px 62px;
    border-color:  transparent transparent #3d02d3b7 transparent;
}

.game_over_txt_style{
    text-align: center;
    
}

.player_score{
    position: absolute;
    left:0;
    top:0;
    font-weight: 800;
    color:rgba(255, 0, 0, 0.664);

}

.hp_score{
    position: absolute;
    left:0;
    top:20;
    font-weight: 800;
    
    color:rgba(255, 0, 0, 0.664);
}